$ff-heebo:'Heebo', sans-serif;
$ff-poppins:'Poppins', sans-serif;

$l-blue:#2D9CDB;
$gray-1:#333333;
$gray-2:#4F4F4F;
$gray-3:#F2F2F2;
$gray-4:#828282;
$red:#EB5757;
$footer-clr:#100E1D;

$btn-color:#E0E0E0;

$border:1px solid black;

